<p>
  Hello <%= subscriber.name %>,
</p>

<p>
  As per your request, we have generated your new password for <strong>"<%= publisher.name %>"</strong> app.
  <br/>
  You can now login into the <strong>"<%= publisher.name %>"</strong> app using following details,
</p>

<p>
   	<strong>Username:</strong> <i><%= subscriber.email %></i><br/>
   	<strong>Password:</strong> <i><%= new_passwd %></i>
</p>

<p>
  Thanks,<br/>
  <a href="http://www.notifyme.in/contact" target="_blank">Notifyme Team</a><br/>
  [ On behalf of "<%= publisher.name %>" app ]<br/>
  <small>Want your own app? Click <a href="http://www.notifyme.in/contact" target="_blank">here</a> to know more.</small>
</p>
