<p>
  Hello <%= subscriber.name %>,
</p>

<p>
  You have been added as a user for "<%= publisher.name %>" app.
  <br/>
  You can now login into the "<%= publisher.name %>" app using following details,
</p>

<p>
  	Username: <strong><%= subscriber.email %></strong><br/>
   	Password: <strong><%= passwd %></strong>
</p>

<p>
  Thanks,<br/>
  Notifyme Team<br/>
  [ On behalf of "<%= publisher.name %>" app ]
</p>
