<p>
  Hello <%= subscriber.name %>,
</p>

<p>
  You have been added as a user for "<%= publisher.name %>" app.
  <br/>
  You can now login into the "<%= publisher.name %>" app using following details,
</p>

<p>
  	Username: <strong><%= subscriber.email %></strong><br/>
   	Password: <strong><%= passwd %></strong>
</p>

<p>
  Thanks,<br/>
  <a href="http://www.notifyme.in/contact">Notifyme Team</a><br/>
  [ On behalf of "<%= publisher.name %>" app ]<br/>
  <small>Want your own app? Click <a href="http://www.notifyme.in/contact" >here</a> to know more.</small>
</p>
