<% content_for :title do %>
  <title>New User</title>
<% end %>
<div class="row page-users-new">
    <div class="span12">
        <h3>New User</h3>
        <hr/>
    </div>
    <div class="span12">
        <%= flash_tag(:success, :class => "offset2 span6 alert alert-success") %>
        <%= flash_tag(:error, :class => "offset2 span6  alert alert-error") %>
        <% form_for @subscriber, :new, :class => 'offset2 span6 form-horizontal well', :method => 'POST' do |f| %>
            <%= f.error_messages %>

            <legend>Create New User</legend>

            <div class="control-group">
                <%= f.label :name, :class => "control-label", :for => "inputName", :caption => "Full Name" %>
                <div class="controls">
                    <%= f.text_field :name, :id => "inputName", :placeholder => "Your Name", :required => true, :autofocus => :true %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :email, :class => "control-label", :for => "inputEmail", :caption => "Email" %>
                <div class="controls">
                    <%= f.email_field :email, :id => "inputEmail", :placeholder => "Your Email", :required => true %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :phone, :class => "control-label", :for => "inputPhone", :caption => "Phone" %>
                <div class="controls">
                    <%= f.text_field :phone, :id => "inputPhone", :placeholder => "Your phone number" %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :occupation, :class => "control-label", :for => "inputOccupation", :caption => "Occupation" %>
                <div class="controls">
                    <%= f.text_field :occupation, :id => "inputOccupation", :placeholder => "Your occupation" %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :city, :class => "control-label", :for => "inputCity", :caption => "City" %>
                <div class="controls">
                    <%= f.text_field :city, :id => "inputCity", :placeholder => "Your City" %>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <%= f.submit "Create", :class => 'btn btn-primary' %>
                </div>
            </div>

        <% end %>
    </div>
</div>
