<% error = @publisher.errors.key?(:email) && @publisher.errors[:email].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :email, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :email, :class => 'input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:email) : "Ex: info@jainsena.com" %></span>
  </div>
</fieldset>
<% error = @publisher.errors.key?(:passwd) && @publisher.errors[:passwd].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :passwd, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :passwd, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:passwd) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @publisher.errors.key?(:name) && @publisher.errors[:name].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :name, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :name, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:name) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @publisher.errors.key?(:address) && @publisher.errors[:address].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :address, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_area :address, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:address) : "Ex: a simple multiline text" %></span>
  </div>
</fieldset>
<% error = @publisher.errors.key?(:phone) && @publisher.errors[:phone].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :phone, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :phone, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:phone) : "Ex: +919881060938" %></span>
  </div>
</fieldset>
<% error = @publisher.errors.key?(:website) && @publisher.errors[:website].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :website, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :website, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:website) : "Ex: http://www.jainsena.com" %></span>
  </div>
</fieldset>
<% error = @publisher.errors.key?(:desc) && @publisher.errors[:desc].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :desc, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_area :desc, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:desc) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @publisher.errors.key?(:occupation) && @publisher.errors[:occupation].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :occupation, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :occupation, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:occupation) : "Ex: Business, Lawyer" %></span>
  </div>
</fieldset>
<% error = @publisher.errors.key?(:city) && @publisher.errors[:city].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :city, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :city, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:city) : "Ex: Pune, Nasik" %></span>
  </div>
</fieldset>
<% error = @publisher.errors.key?(:mailing_list) && @publisher.errors[:mailing_list].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :mailing_list, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :mailing_list, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:mailing_list) : "Ex: jainsena@googlegroups.com" %></span>
  </div>
</fieldset>

<% error = @publisher.errors.key?(:api_key) && @publisher.errors[:api_key].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :api_key, :class => 'control-label', :caption => 'Auth Key' %>
  <div class='controls'>
    <%= f.text_field :api_key, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:api_key) : "Ex: Some large api key unique to publisher. Used for web login." %></span>
  </div>
</fieldset>

<% error = @publisher.errors.key?(:android_api_key) && @publisher.errors[:android_api_key].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :android_api_key, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :android_api_key, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:android_api_key) : "Ex: alphanumeric android server key obtained from google developer console" %></span>
  </div>
</fieldset>
<% error = @publisher.errors.key?(:ios_api_key) && @publisher.errors[:ios_api_key].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :ios_api_key, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :ios_api_key, :class => 'input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:ios_api_key) : "alphanumeric ios key provided by apple" %></span>
  </div>
</fieldset>
<% error = @publisher.errors.key?(:language1) && @publisher.errors[:language1].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :language1, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :language1, :class => 'input-mini input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:language1) : "2 character language code liki 'hi', 'mr'" %> <a href="https://developers.google.com/transliterate/v1/getting_started#LanguageCode" target="_blank">Click here</a> for language codes</span>
  </div>
</fieldset>
<% error = @publisher.errors.key?(:logo) && @publisher.errors[:logo].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :logo, :class => 'control-label' %>
  <div class='controls'>
    <%= f.file_field :logo, :class => 'input-xlarge input-with-feedback'%>
    <span class='help-block'><%= error ? f.error_message_on(:logo) : "Ex: Publisher's Logo" %></span>
  </div>
</fieldset>
<% error = @publisher.errors.key?(:footer_msg) && @publisher.errors[:footer_msg].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :footer_msg, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :footer_msg, :class => 'input-xlarge input-with-feedback'%>
    <span class='help-block'><%= error ? f.error_message_on(:footer_msg) : "Ex: Add any footer message you want that will be appended to every message" %></
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:publishers, :index), :class => 'btn' %>
</div>
