<% content_for :title do %>
  <title>Sponsorers List</title>
<% end %>
<div class="row page-sponsorers-list">
    <div class="span12">
        <h3>Sponsorers</h3>
        <hr/>
    </div>
    <div class="span12">
        <% form_tag url(:sponsorers), :class => 'form-search', :method => 'GET' do %>
            <%= text_field_tag :keyword, :class => "span5", :placeholder => "Search sponsorers.." %>
            <%= submit_tag "Search", :class => 'btn btn-primary' %>
        <% end %>
    </div>
    <div class="span12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <% for sponsorer in @sponsorers %>
                    <tr>
                        <td><%= sponsorer.name %></td>
                        <td><%= sponsorer.email %></td>
                        <td><%= sponsorer.phone %></td>
                        <td><%= sponsorer.address %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <% will_paginate @sponsorers %>
    </div>
</div>
