<% content_for :title do %>
  <title>Message List</title>
<% end %>
<div class="row page-notifications-list">
    <div class="span12">
        <h3>Messages</h3>
        <hr/>
    </div>
    <div class="span12">
        <% form_tag url(:notifications), :class => 'form-search', :method => 'GET' do %>
            <%= text_field_tag :keyword, :class => "span5", :placeholder => "Search across messages.." %>
            <%= submit_tag "Search", :class => 'btn btn-primary' %>
        <% end %>
    </div>
    <div class="span12">
        <p class="muted"><%= total %> messages found</p>
    </div>
    <div class="span12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Sent On</th>
                    <th>Views <i class="icon-info-sign" data-toggle="tooltip" rel="tooltip" title="Number of users who viewed the details of the message"></i></th>
                </tr>
            </thead>
            <tbody>
                <% for notification in @notifications %>
                    <tr>
                        <td><%= notification.id %></td>
                        <td><%= notification.title %></td>
                        <td><%= format_date(notification.created_at) %></td>
                        <td><span class="badge"><%= notification.viewedNotifications.count %></span></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <% if @notifications.total_entries > 30 %>
            <%= will_paginate(@notifications, :renderer => BootstrapPagination::Sinatra, :class => 'pagination pagination-centered').html_safe %>
        <% end %>
    </div>
</div>
