<% content_for :title do %>
  <title>New Message</title>
<% end %>
<div class="row page-notifications-new">
    <div class="span12">
        <h3>New Message</h3>
        <hr/>
    </div>
    <% form_for @notification, :new, :method => 'POST', :multipart => true do |f| %>
    <%= flash_tag(:success, :class => "offset2 span6 alert alert-success text-center") %>
    <%= flash_tag(:error, :class => "offset2 span6 alert alert-error text-center") %>
    <%= flash_tag(:later, :class => "offset2 span6 alert alert-info text-center") %>
    <div class="span12">
        <label><strong>Title</strong></label>
        <%= f.text_field :title, :class => "span12", :id => 'title', :placeholder => "Enter message title here", :autofocus => :true %>
    </div>
    <div class="span12">
        <%= partial 'web/wysiwyg', :locals => { :f => f } %>
        <div id="editor" contenteditable="true">
            Enter your message here..
        </div>
        <%= f.hidden_field :text, :id => 'text' %>
    </div>
    <div class="span12">
        <span class="spacer20"></span>

        <div class="row">

            <div class="offset7 span5">
                <a href="#schedule-later-modal" class="btn btn-info" data-toggle="modal"><i class="icon-time"></i> Send Message Later</a>
            
                <%= f.submit "Send Message Now", :class => 'btn btn-success pull-right send-message', :style => 'font-weight: 900;'%>
            </div>

        </div>
    </div>

    <%# Upload pictures modal %>
    <div id="attach-image-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: white;">&times;</button>
            <h3>Attach Photos</h3>
        </div>
        <div class="modal-body">

            <div class="span4">
                <div class="fileupload fileupload-new" data-provides="fileupload">
                    <span class="btn btn-file btn-success"><span class="fileupload-new">Attach Image 1</span><span class="fileupload-exists">Change Image</span><%= f.file_field :image1 %></span>
                    <span class="fileupload-preview"></span>
                    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                </div>
            </div>

            <div class="span4">
                <div class="fileupload fileupload-new" data-provides="fileupload">
                    <span class="btn btn-file btn-success"><span class="fileupload-new">Attach Image 2</span><span class="fileupload-exists">Change Image</span><%= f.file_field :image2 %></span>
                    <span class="fileupload-preview"></span>
                    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                </div>
            </div>

            <div class="span4">
                <div class="fileupload fileupload-new" data-provides="fileupload">
                    <span class="btn btn-file btn-success"><span class="fileupload-new">Attach Image 3</span><span class="fileupload-exists">Change Image</span><%= f.file_field :image3 %></span>
                    <span class="fileupload-preview"></span>
                    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a class="btn" data-dismiss="modal" aria-hidden="true" href="#">Cancel</a>
            <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Attach</a>
        </div>
    </div>

    <%# Modal for scheduling messages for sending it later %>
    <div id="schedule-later-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: white;">&times;</button>
            <h3>Schedule Message</h3>
        </div>

        <div class="modal-body">
            <div class="offset1 span5">
                <div id="datetimepicker" class="input-append">
                    <%= f.text_field :schedule_dttm, :id => 'dttm', :placeholder => "Schedule Time" %>
                    <span class="add-on">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                    </span>
                </div>
                <span class="help-block"><small class="muted">*Your message will be sent on the specified date and time.</small></span>
            </div>
        </div>

        <div class="modal-footer">
            <a class="btn" data-dismiss="modal" aria-hidden="true" href="#">Cancel</a>
            <button class="btn btn-info send-message">Schedule Message</button>
        </div>
    </div>

    <%# Modal for uploading videos to youtube %>
    <div id="attach-video-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: white;">&times;</button>
            <h3>Attach Video</h3>
        </div>

        <div class="modal-body">
            <div id="video-message-box" class="text-info text-center">
                <i class="icon-info-sign"></i> This video will be uploaded to your youtube account.
            </div>
            <hr/>
            <div id="widget" class="offset1">
                <i class="icon-spinner icon-large icon-spin"></i> Preparing for video upload..
            </div>
            <%= f.hidden_field :video1, :id => 'video_id' %>
        </div>

        <div class="modal-footer">
            <%#<button class="btn btn-success send-message">Attach Video</button>%>
            <a class="btn" data-dismiss="modal" aria-hidden="true" href="#">Cancel</a>
            <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Attach</a>
        </div>
    </div>
    
    <% end %>

</div>

<% content_for :js do %>

    <%= javascript_include_tag 'bootstrap-wysiwyg' %>
    <%= javascript_include_tag 'bootstrap-datetimepicker.min' %>
    <%= javascript_include_tag 'file-upload' %>
    <%= javascript_include_tag 'https://www.google.com/jsapi' %>
    
    <script type="text/javascript">

        var control;

        google.load("elements", "1", {
            packages: "transliteration"
        });

        function onLoad() {

            var options = {
                sourceLanguage:
                    google.elements.transliteration.LanguageCode.ENGLISH,
                destinationLanguage:
                    [google.elements.transliteration.LanguageCode.HINDI],
                shortcutKey: 'ctrl+g',
                transliterationEnabled: true
            };

            control =
                new google.elements.transliteration.TransliterationControl(options);

                // Enable transliteration in the div with id
                // 'editor'.
                control.makeTransliteratable(['editor', 'title']);
        }

        google.setOnLoadCallback(onLoad);

        $(document).ready(function(){
            
            $('#editor').wysiwyg();

            $('#toggle-language').click(function(){
                $(this).toggleClass('btn-primary');
                control.toggleTransliteration();
            });

            $(document).keydown(function(e){
                if(e.ctrlKey && e.keyCode == 71){
                    $('#toggle-language').toggleClass('btn-primary');;
                }
            });

            $('.dropdown-menu input, .dropdown-menu label, .dropdown-menu button').click(function(e) {
                e.stopPropagation();
            });

            $('.send-message').click(function() {
                var t = $('#editor').html();
                var htmlText = $.trim(t);
                var title = $('#title').val();

                if(htmlText.length <= 0 || htmlText == '<br>') {
                    alert("You have not written any message. Please write a message and try again.");
                    return false;
                }

                if(title.length <= 0) {
                    alert("You have not written a title for you message. Please write a title and try again.");
                    return false;
                }

                if(confirm("Are you sure you want to send this message?")) {
                    $('#text').val(htmlText);
                    return true;
                }

                return false;
            });

            $('#datetimepicker').datetimepicker({
                language: 'en',
                pickSeconds: false,
                format: 'dd/MM/yyyy @ HH:mm PP',
                pick12HourFormat: true,
                startDate: new Date()
                //startDate:
            });
        });

        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        
        var widget;

        function onYouTubeIframeAPIReady() {
            widget = new YT.UploadWidget('widget', {
              width: 300,
               webcamOnly: false,
              events: {
                'onVideoIdAvailable': onVideoIdAvailable
              }
            });
        }

        function onVideoIdAvailable(event) {
            // set video id
            $('#video_id').val(event.data.videoId);
            $('#video-message-box').html('<i class="icon-ok-sign"></i> Video Uploaded Successfully. Click "Attach" to continue or "Cancel" to remove video.');
        }

    </script>
<% end %>