<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>Title of the document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Priyank Tiwari">

    <%= stylesheet_link_tag 'application' %>
    <% if content_for?(:assets) %>  
      <%= yield_content :assets %>
    <% end %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
  </head>
  
  <body>
    
    <%= partial 'web/topbar' %>

    <div class="container">
      <%= yield%>
    </div>

    <%# include javascripts from cdn %>
    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" %>
    <%= javascript_include_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js" %>
    <%= javascript_include_tag "application" %>
    
    <% if content_for?(:js) %>  
      <%= yield_content :js %>
    <% end %>
  
  </body>

</html>