<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <% if content_for?(:title) %>  
      <%= yield_content :title %>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Priyank Tiwari">

    <%= stylesheet_link_tag 'application' %>
    <% if content_for?(:assets) %>  
      <%= yield_content :assets %>
    <% end %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
  </head>
  
  <body>
    
    <%= partial 'web/topbar' %>

    <div class="container">
      <%= yield%>
    </div>

    <%# include javascripts from cdn %>
    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" %>
    <%= javascript_include_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js" %>
    <%= javascript_include_tag "application" %>
    
    <% if content_for?(:js) %>  
      <%= yield_content :js %>
    <% end %>

    <% if Padrino.env == :production %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-41752918-1', 'notifyme.in');
        ga('send', 'pageview');
      </script>
    <% end %>
  
  </body>

</html>